<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

</head>
<body>
    <div th:fragment="devicelDetail_contents">

    <script th:inline="javascript">
	/*<![CDATA[*/

    function zumenDispDo(key) {
			//alert("key:" + key);
			document.PdfListForm.key.value = key;
			document.PdfListForm.action = /*[[@{/pdfDisp}]]*/;
			document.PdfListForm.target = "_blank";
			document.PdfListForm.submit();
		}
	
	/*]]>*/
    </script>
 
        <div class="page-header my-3">
            <h1>詳細情報</h1>
        </div>
        <div class="row" th:object="${deviceForm}">
            <div class="col-sm-6">
                <form method="get" th:action="@{/deviceUpdate} + '/' +  ${deviceForm.deviceId} ">
                    <!-- 更新ボタン -->
                    <div>
	                    <button class="btn btn-primary btn-block" type="submit" name="deviceUpdate">
							詳細情報更新
	                    </button>
                    </div>
                    <table class="table table-bordered table-hover table-responsive-sm">
                        <!-- デバイスID -->
                        <tr>
                            <th scope="col">デバイスID</th>
                            <td scope="col" th:text="*{deviceId}"></td>
                        </tr>
                        <!-- デバイス区分 -->
                        <tr>
                            <th scope="col">デバイス区分</th>
                            <td th:text="*{deviceKbn}"></td>
                        </tr>
                        <!-- 型番 -->
                        <tr>
                            <th scope="col">型番</th>
                            <td th:text="*{kataban}"></td>
                        </tr>
                        <!-- 所有者 -->
                        <tr>
                            <th scope="col">所有者</th>
                            <td th:text="*{owner}"></td>
                        </tr>
                        <!-- メーカー -->
                        <tr>
                            <th scope="col">メーカー</th>
                            <td th:text="*{maker}"></td>
                        </tr>
                        <!-- 購入日 -->
                        <tr>
                            <th scope="col">購入日</th>
                            <td th:text="*{purchaseDate}"></td>
                        </tr>
                        <!-- 登録日時 -->
                        <tr>
                            <th scope="col">登録日時</th>
                            <td th:text="*{creationdate}"></td>
                        </tr>
                        <!-- 最終更新日時 -->
                        <tr>
                            <th scope="col">最終更新日時</th>
                            <td th:text="*{lastupdate}"></td>
                        </tr>
                    </table>
                </form>
                <br>
                
				添付ファイル
				<form  name="PdfListForm" method="post">
	                <table class="table table-bordered table-hover" >
	                    <!-- 添付ファイル -->
	                    <tr th:each="files : ${fileBeanList}">
							<td>
								<a th:text="${files.originalFileName}" th:href="|javascript:zumenDispDo('${files.fileName}')|"></a>
							</td>
							<td class="text-center">
								<!-- 添付ファイルの削除のリンク -->
			                   <a class="btn btn-danger" th:href="@{'/fileDelete/' + ${files.fileName}}">削除</a>
			               </td>
						</tr>
	                </table>
                    <!-- CSRF対策用トークン -->
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					<!-- ｐｄｆ表示用 -->
					<input type="hidden" th:name="key" value=""/>
					<input type="hidden" th:name="deviceId" th:value="*{deviceId}"/>
                </form>
                
	            <!-- 添付ファイルの追加ボタン -->
				<form name="fileAddForm" method="post" enctype="multipart/form-data" th:action="@{/fileAdd}">
               		<input type="file" name="file" multiple/>
					<button class="btn btn-primary btn-sm" type="submit" name="addFile">追加</button>
					<!-- 登録用 -->
					<input type="hidden" th:name="deviceId" th:value="*{deviceId}"/>
				</form>
		     </div>
        </div>
    </div>
</body>
</html>