<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
    <div th:fragment="devicelDetail_contents">
        <div class="page-header my-3">
            <h1>詳細情報</h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <form method="get" th:action="@{/deviceUpdate} + '/' +  ${deviceForm.deviceId} " th:object="${deviceForm}">
                    <table class="table table-bordered table-hover table-responsive-sm" th:object="${deviceForm}">
                        <!-- デバイスID -->
                        <tr>
                            <th scope="col">デバイスID</th>
                            <td scope="col" th:text="*{deviceId}"></td>
                        </tr>
                        <!-- デバイス区分 -->
                        <tr>
                            <th scope="col">デバイス区分</th>
                            <td th:text="*{deviceKbn}"></td>
                        </tr>
                        <!-- 型番 -->
                        <tr>
                            <th scope="col">型番</th>
                            <td th:text="*{kataban}"></td>
                        </tr>
                        <!-- 所有者 -->
                        <tr>
                            <th scope="col">所有者</th>
                            <td th:text="*{owner}"></td>
                        </tr>
                        <!-- メーカー -->
                        <tr>
                            <th scope="col">メーカー</th>
                            <td th:text="*{maker}"></td>
                        </tr>
                        <!-- 購入日 -->
                        <tr>
                            <th scope="col">購入日</th>
                            <td th:text="*{purchaseDate}"></td>
                        </tr>
                        <!-- 登録日時 -->
                        <tr>
                            <th scope="col">登録日時</th>
                            <td th:text="*{creationdate}"></td>
                        </tr>
                        <!-- 最終更新日時 -->
                        <tr>
                            <th scope="col">最終更新日時</th>
                            <td th:text="*{lastupdate}"></td>
                        </tr>
                    </table>
                    <!-- 更新ボタン -->
                    <button class="btn btn-primary btn-lg" type="submit" name="deviceUpdate">
						変更
                    </button><br><br>
						添付ファイル
                    <table class="table table-bordered table-hover" >
                        <!-- 添付ファイル -->
                        <tr th:each="files : ${fileBeanList}">
                            <td><a th:text="${files.originalFileName}" th:href="@{'/Users/khr/VaultLoc/torisetsu/' + ${files.fileName}}">link</a></td>
			                <td class="text-center">
			                    <!-- 添付ファイルの削除のリンク -->
			                    <p><i class="far fa-trash-alt"></i></p>
			                </td>
			                <td class="text-center">
			                    <!-- 添付ファイルの削除のリンク -->
			                    <a class="btn btn-primary" th:href="@{'/deviceDetail/' + ${files.fileName}}">
									差替え
			                    </a>
			                </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>
</html>