<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>
    <!-- コンテンツ部分 -->
    <div th:fragment="userList_contents">
        <div class="mr-5 pt-4">
        <table class="table table-bordered table-hover table-striped table-sm">
        	<thead class="thead-dark">
	            <tr>
	                <th scope="col">ユーザID</th>
	                <th scope="col">ユーザ名</th>
	                <th scope="col">誕生日</th>
	                <th scope="col">年齢</th>
	                <th scope="col">既婚</th>
	                <th scope="col"></th>
	            </tr>
			</thead>
			<tbody>
	            <tr th:each="user : ${userList}">
	                <td th:text="${user.userId}"></td>
	                <td th:text="${user.userName}"></td>
	                <td th:text="${#dates.format(user.birthday,'yyyy/MM/dd')}"></td>
	                <td th:text="${user.age}"></td>
	                <td th:text="${user.marriage}?'既婚':'未婚'"></td>
	                <td class="text-center">
	                    <!-- ユーザー詳細画面へのリンク -->
	                    <a class="btn btn-primary" th:href="@{'/userDetail/' + ${user.userId}}">詳細</a>
	                </td>
	            </tr>
            </tbody>
        </table>
        </div>
        <!-- ユーザー一覧の件数 -->
        <label th:text=" '合計：' + ${userListCount} + '件' "></label><br/>
        <!-- 更新・削除処理の結果表示用 -->
        <label class="text-info" th:text="${result}">結果表示</label><br/>
        <!-- CSV出力用のリンク -->
        <a class="btn btn-primary" th:href="@{'/userList/csv'}">CSV出力</a>
    </div>
</body>
</html>