<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8"></meta>

    <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

    <!-- CSSの読込 -->
    <link th:href="@{/css/home.css}" rel="stylesheet"></link>
    
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/fh-3.1.7/datatables.min.css"/>

    <title>PDF表示</title>
    
    <script th:inline="javascript">
	/*<![CDATA[*/

	// ・初期処理
	function funcStart() {
		// 図面ファイルを設定する
		funcZumenfile();
	}

	function funcZumenfile(key) {
		var dest = /*[[@{/getImage}]]*/;
		var $obj = document.getElementById("pdf");
		$obj.data = dest + "?p_key=" + /*[[${p_key}]]*/;
	}
		
	/*]]>*/
	</script>
    
</head>
<body onload="JavaScript:funcStart();">
    <!-- ===== ヘッダー（ナビゲーションバー） =====  -->
	<div class='fixed-top'>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#"><img src="../images/tsubaki-logo.png" alt="WEBST8ロゴ"></a>
			<div>	ユーザー名：<span sec:authentication="principal.appUserName"></span></div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		    </ul>
	        <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/logout}">
	            <button class="btn btn-success my-2 my-sm-0" type="submit">ログアウト</button>
	        </form>
		  </div>
		</nav>
	</div>

    <!-- ===== サイドバー ===== --> 
    <div style="margin-top : 20px" class="container-fluid">
		<div class="row">
		<div class="col-2"  th:object="${fileInfo}">
			<p class="m-0 bg-primary text-light text-center">デバイスＩＤ</p><P><span th:text="*{deviceId}">test</span></p>
			<p class="m-0 bg-primary text-light text-center">ファイル名</p><P><span  th:text="*{originalFileName}">test</span></p>
			<p class="m-0 bg-primary text-light text-center">登録日</p><P><span  th:text="*{creationdate}">test</span></p>
		</div>
		<div class="col-10">
			<div th:include="__${contents}__"></div>
		</div>
		</div>
    </div>
    

</body>
</html>